.accordion{
    width: 100%;
}
.item{
    background-color: rgb(255, 255, 255);
    margin: 5px;
    padding: 10px 0px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.content{
    color:blueviolet; 
    transition: all 0.5s cubic-bezier(0,1,0,1);
}
.hide{
    max-height: 0;
    overflow: hidden;
}
.show{
    height: auto;
    max-height: 9999px;
}
.bg-green{
    background-color: rgba(73,204,144,.1);
}
.bg-dark-green{
    background-color: #49cc90;
    border: 1px solid #49cc90;
}
.border-green{
    border: 1px solid #49cc90;
}
.bg-sky{
    background-color: rgba(97,175,254,.1);
}
.bg-dark-sky{
    background-color: #61affe;
    border: 1px solid #61affe;
}
.border-sky{
    border: 1px solid #61affe;
}
.bg-orange{
    background-color: rgba(252,161,48,.1);
}
.bg-dark-orange{
    background-color: #fca130;
    border: 1px solid #fca130
}
.border-orange{
    border: 1px solid #fca130;
}
.bg-red{
    background-color: rgba(249,62,62,.1);
}
.bg-dark-red{
    background-color: #f93e3e;
    border: 1px solid #f93e3e;
}
.border-red{
    border: 1px solid #f93e3e;
}
