.accordion{
    width: 100%;
}
.item{
    background-color: rgb(255, 255, 255);
    margin: 5px;
    padding: 10px 0px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.content{
    color:blueviolet; 
    transition: all 0.5s cubic-bezier(0,1,0,1);
}
.hide{
    max-height: 0;
    overflow: hidden;
}
.show{
    height: auto;
    max-height: 9999px;
}